<h3>
Why use protein supplements?
For bodybuilders and powerlifters wanting to maximize the effectiveness of their training, proper nutrition plays as much a role as the training program itself. Following resistance training your body requires proper nutrients to rebuild its damaged muscles. Arguably the most important macronutrient for building muscle is protein; studies indicate that athletes utilizing resistance training have higher protein requirements when compared with sedentary individuals (1). An effective way to ensure that you are receiving ample protein is to introduce protein supplements to your diet. Protein supplementation has been widely studied and has been shown to enhance strength and muscle growth in both young and old individuals (2). The countless brands and types of protein supplements on the market can make choosing the best one a somewhat daunting task for newcomers, so how do you determine what is right for you?


Types of Protein Supplements

Whey Protein
	Whey is the liquid part of milk leftover after cheese making and can be purified to make whey protein supplements. Whey protein is a high quality protein source and contains high concentrations of branched chain amino acids, which play and important role in preventing muscle breakdown during exercise. Additionally, whey is quickly absorbed, making it ideal for taking post-workout. There are two main types of whey protein supplements: whey protein concentrate and why protein isolate. Whey protein isolate is the purest, being composed of at least 90% protein. Whey protein concentrate contains anywhere from 25% to 89% protein (3). When choosing a whey protein supplement, look for ones with whey protein isolate at the top of the ingredient list; this will ensure you are getting more protein and less lactose and fat. Some popular and well-respected whey proteins are Optimum Nutrition Gold Standard 100% Whey and BSN Syntha-6.


Casein
	Casein is the primary protein found in milk, comprising 70-80% of total protein. Similar to whey protein, casein offers a complete amino acid profile. The advantage of casein is that it exists in liquids as micelles, meaning its molecules clump together and don’t dissolve, which makes casein digest more slowly. This creates a longer, sustained release of protein when compared to whey (3). For this reason casein supplements are often taken by athletes before going to bed to ensure sustained overnight release of amino acids. Some popular casein supplements are Optimum Nutrition Gold Standard 100% Casein and Dymatize Elite Casein.


Soy Protein
	Soy protein is isolated from soybeans, which can be separated into soy concentrate and soy isolate, with soy isolate containing 90% protein. Though soy protein supplements are less popular than whey protein and casein, they offer an excellent vegan source of protein and have their own nutritional benefits. Soy protein contains isoflavones which have cardiovascular benefits and may lower LDL concentrations.


References
1. 	M. A. Tarnopolsky et al., Evaluation of protein requirements for trained strength athletes. J. Appl. Physiol. 73, 1986–1995 (1992).
2. 	N. M. Cermak, P. T. Res, L. C. De Groot, W. H. M. Saris, L. J. C. Van Loon, Protein supplementation augments the adaptive response of skeletal muscle to resistance-type exercise training: a meta-analysis. Am. J. Clin. Nutr. 96, 1454–1464 (2012).
3. 	J. R. Hoffman, M. J. Falvo, Protein - Which is best? J. Sport. Sci. Med. 3, 118–130 (2004).
</h3>