<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <table class="table table-hover">
  <thead>
    <tr>
       <th>Image</th>
       <th>Name</th>
       <th>Price Per oz</th>
       <th>Price</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img src="{{ product_image }}" alt="{{ product_name }} height=30 width=30"></th>
      <td>{{ product_name }}</td>
      <td>{{ price_per_serving }}</td>
      <td>{{ product_price }}</td>
        <td>{{ product_type }}</td>
        <td>{{ product_description }}</td>
    </tr>
  </tbody>
</table>
</div>

</body>
</html>
